<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Servlets.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requests</servlet-name>
        <servlet-class>Servlets.requests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donation</servlet-name>
        <servlet-class>Servlets.donation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfile</servlet-name>
        <servlet-class>Servlets.userProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Servlets.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>Servlets.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>respond</servlet-name>
        <servlet-class>Servlets.respond</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmResponse</servlet-name>
        <servlet-class>Servlets.confirmResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmDonation</servlet-name>
        <servlet-class>Servlets.confirmDonation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requests</servlet-name>
        <url-pattern>/requests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donation</servlet-name>
        <url-pattern>/donation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>respond</servlet-name>
        <url-pattern>/respond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmResponse</servlet-name>
        <url-pattern>/confirmResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmDonation</servlet-name>
        <url-pattern>/confirmDonation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/mydb</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
